@page
@model CreateModel

@{
    ViewData["Title"] = "Customer Create";
}

<p>Enter a customer name:</p>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <span asp-validation-for="Customer.Name"></span>
    Name:
    <input asp-for="Customer.Name">
    <input type="submit">
</form>
